{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "bugfixes": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"]
}
