{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "bugfixes": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
